html {
    min-height: 100%;
    background-image: url("../Assets/SS/Arena.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.content-title {
    background-color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
}

.content-title h1 {
    text-align: center;
    color: #3c3c3c;
    font-size: 40px;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Event-content {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #ffffff;
}

.Event-content-up {
    justify-content: space-evenly;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #095979;
    color: #ffffff;
    margin-left: 20%;
    margin-right: 20%;
    /* width: 80%;
    height: 80%; */
    padding: 30px;
    border-radius: 10px;
}

.Event-content-up:hover {
    border-image-source: linear-gradient(to right, rgb(187, 255, 0) 0%, #747c03 100%);
    background-image: linear-gradient(to right, rgb(187, 255, 0) 0%, #747c03 100%);
    border-radius: 10px;
}

.Event-title1 {
    font-size: 22px;
    font-weight: bold;
    margin-left: -0.8%;
    text-align: left;
    padding: 7px;
}

.Event-info1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Event-desc1 {
    font-size: 22px;
    width: 500px;
    text-align: justify;
    margin-left: 2%
}

.Event-content-middle {
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3%;
}

.Event-img1 img {
    max-width: 300px;
    max-height: 200px;
}

@media screen and (max-width: 800px) {
    .Event-content {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        flex-direction: column;
    }
    .Event-info1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: fit-content;
        opacity: 1;
        flex-direction: column;
    }
    .Event-content .Event-img1 img {
        display: flex;
        max-width: 200px;
        max-height: 125px;
        flex-direction: column;
    }
    .Event-desc1 {
        display: flex;
        font-size: 18px;
        padding: 20px;
        margin-left: -0.8%;
        width: 100%;
        text-align: justify;
        margin-left: 2%;
        flex-direction: column;
    }
    .Event-content-up {
        margin-left: 10%;
        margin-right: 10%;
    }
}